* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #ff7777, #52d3c4);
  padding: 40px 20px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title h1 {
  font-size: 2.5em;
  margin: 16px, 0;
}

.title p {
  font-size: 1.1em;
  opacity: 0.9;
  margin: 16px, 0;
}

.upload-area {
  width: 100%;
  max-width: 500px;
  height: 200px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 1.1em;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.upload-area:hover {
  transform: translateY(-3px);
  border-color: #52d3c4;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.result {
  margin-top: 30px;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.result h1, .result p {
  color: #333;
  margin-bottom: 16px;
}

.result img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
}

form {
  display: none;
}

.ranking {
  margin-top: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: bold;
}

.stats-box {
  margin-top: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.rank-table {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Added margin-bottom for spacing */
  color:black;
}

.rank-table th, .rank-table td {
  padding: 12px 20px;
  text-align: center;
  border: none; /* Removed border for cleaner look */
}

.rank-table th {
  background: #52d3c44b; /* Updated background color */
  color: rgb(0, 0, 0);
  font-weight: 600; /* Slightly lighter font-weight */
  text-transform: uppercase; /* Uppercase for better visual hierarchy */
}

.rank-table tr:nth-child(even) {
  background: #f2f2f2; /* Softer background color for even rows */
}

.rank-table tr:hover {
  background: #e0e0e0; /* Slightly darker background on hover */
}

.main-header {
  background-color: rgba(66, 59, 59, 0.532);
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.header-title {
  font-size: 1.8em;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.header-content {
  display: flex;
  align-items: center;
  gap: 10px; /* Optional: adjust spacing between icon and text */
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 2em;
  }

  .upload-area {
    height: 150px;
    font-size: 1em;
  }

  .result h1 {
    font-size: 1.5em;
  }

  .ranking {
    font-size: 1em;
  }
}
